/* css reset */
*{
  box-sizing: border-box;
  font-family:'Roboto';
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* / HTML5 display-role reset for older browsers */ */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
} 
 ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
} 
img{
  max-width:100%;
  height:auto;
}






/* dr.vet */

/* nav */
.nav{
    height:13.85rem;
    border-bottom:23px solid #E5E5E5;
}

.brand{ 
    height:6.88rem; 
    border:1px solid #E5E5E5; 
    width:100%;   
    /* border:1px solid green;  */
} 

.navbarBrand{
  margin: 0 auto;
 }

 .totalBrandBtn{
    display:flex;
    margin-top:2.81rem;
    position:absolute;
    right:1rem;
}

.descriptionBtn{
     background-color:#F2AF44;
     width:6.31rem;
     height:2.8rem;
     border-radius:5px;
     color:#FAFAFA;
     font-weight: 700;
     font-family:'roboto';
     font-size:1.5rem;
     border:none; 
     margin-right:1.3rem;
     white-space:nowrap; 
  }

 .signOutBtn{ 
    background-color:#CB5C5C;
    width:6.31rem;
    height:2.8rem;
    border-radius:5px;
    color:#FAFAFA;
    font-weight: 700;
    font-family:'roboto';
    font-size:1.5rem;
    border:none;
    white-space:nowrap;
}

.navList{
  width:100%;
  height:5.45rem;
  /* background:pink; */
  margin-top:0; 
  /* border:1px solid blue; */
  display:flex;
  align-items:center;
}

.navbar1{
  /* border:1px solid red; */
  margin: 0 auto; 
 }

.navbarTitle{
  color:#F2AF44 !important;
  font-weight:800;
  font-family:'roboto';
  font-size:1.5rem;
}

#navbarSupportedContent .nav-link{
   color:black;
   font-weight:600;
   font-family:'roboto';
   font-size:1.37rem;
}

/* main */
.search{
border-bottom:8px solid #F2AF44;
;
height:7.1rem;
display:flex;
justify-content: center;
align-items:center;
}

.search p{
  font-weight:700;
  font-size:1.75rem;
  font-family:'Roboto'
}

.searchForm{
  /* border:1px solid blue; */
  margin-top:1.93rem;
}

.searchContainer{
  /* border:1px solid red; */
}

.form{
  /* border:1px solid purple; */
  margin:0 auto;
}

.product{
 color:#3E414F;
 font-weight:700;
 font-size:1.13rem;
 font-family:'Roboto';
 line-height:1.32rem;
}

input[type="text"],input[type="number"],.select{
  /* background:pink; */
  width:18.43rem;
  height:1.56rem;
  border-color: lightgray;
  border-radius: 0rem;
}

.select{
  font-size:0.5rem;
}

.productSupplier{
  margin-left:1.1rem;
  width:12.43rem !important;
}

.productBrand{
  margin-left:2.2rem;
  width:18.70rem !important;
  }

/* option{
  color:#F2AF44;
} */

.inquireBtn{
  background-color:#F2AF44;
  width:2.5rem;
  height:1.3rem;
  border-radius: 0rem;
  font-size:0.88rem;
  font-weight:400;
  white-space: nowrap;
  line-height:1.03rem;
  position:relative;
  margin-left:0.38rem;
  margin-top:0.2rem;
  color:white;
}

.buttonWord{
 position:absolute;
 left:0.38rem;
 top:0.2rem;
}

.removeBtn{
  background-color:#F2AF44;
  width:2.5rem;
  height:1.3rem;
  border-radius: 0rem;
  font-size:0.88rem;
  font-weight:400;
  white-space: nowrap;
  line-height:1.03rem;
  position:relative;
  margin-left:0.38rem;
  margin-top:0.2rem;
  color:white;
}

.removeButtonWord{
  position:absolute;
  left:0.38rem;
  top:0.2rem;
}

.commodityAttributesInput{
  width:12.43rem !important;
}

.totalBtn{
  /* border:1px solid red; */
  margin-left:1.1rem;
}

.searchFormBtn{
  border:1px solid #3E414F;
  border-radius:0px;
  width:6.88rem;
  height:2.18rem;
  font-size:1.2rem;
  font-weight:900;
}

.searchFormBtn:hover{
  background-color:#F2AF44;
  border:none;
}







/* media */
@media screen and (max-width: 1000px){
  .navList{
    width:100%;
    height:5.45rem;
    margin-top:0; 
    /* border:1px solid blue; */
    display:flex;
    align-items:center;
  }

  .navbar1{
    /* border:1px solid blue; */
    margin-left:0rem;
    height:90px;
    width:100%;
    display:flex;
    align-items:center;
  }

  .navbarTitle{
    /* background:purple; */
    height:80px;
    padding-top:2rem;
  }
}

@media screen and (max-width: 768px){
  .navbarBrand{
    /* border:1px solid red; */
    position:absolute;
    top:1rem;
    left:0.5rem;
   }

   .totalBrandBtn{
     display:flex;
     position:absolute;
     right: 1rem;
     top:0.5rem;
 }
}


@media screen and (max-width: 576px){
.brandImg{
  width:90%;
}

.totalBrandBtn{
   display:flex;
   position:absolute;
   right:0.1rem;
   top:0.5rem;
}

.descriptionBtn{
  background-color:#F2AF44;
  width:5rem;
  height:2.8rem;
  border-radius:5px;
  color:#FAFAFA;
  font-weight: 700;
  font-family:'roboto';
  font-size:1.1rem;
  border:none; 
  margin-right:1.3rem;
  white-space:nowrap; 
}

.signOutBtn{ 
  background-color:#CB5C5C;
  margin-right:1rem;
  width:5rem;
  height:2.8rem;
  border-radius:5px;
  color:#FAFAFA;
  font-weight: 700;
  font-family:'roboto';
  font-size:1.1rem;
  border:none;
  white-space:nowrap;
}

.descriptionImg{
  width:16%;
}

.signOutImg{
  width:40%;
} 
}

@media screen and (max-width: 397px){
  .brandImg{
          width:70%; 
          /* border:1px solid blue; */
        }    
        
        
  .totalBrandBtn{ 
          /* border:1px solid purple; */
            display:flex;
            position:absolute;
            right:0rem;
            top:0.5rem;
        } 
      
  .descriptionBtn{
          background-color:#F2AF44;
          width:4.5rem;
          height:2.5rem;
          border-radius:5px;
          color:#FAFAFA;
          font-weight: 700;
          font-family:'roboto';
          font-size:1rem;
          border:none; 
          margin-right:1.3rem;
          white-space:nowrap; 
          padding-left:0.4rem;
        }
        
  .signOutBtn{ 
          background-color:#CB5C5C;
          margin-right:1rem;
          width:4.5rem;
          height:2.5rem;
          border-radius:5px;
          color:#FAFAFA;
          font-weight: 700;
          font-family:'roboto';
          font-size:1rem;
          border:none;
          white-space:nowrap;
          padding-left:0.3rem;
        }
        
 .descriptionImg{
          width:13%;
        } 
        
 .signOutImg{
          width:35%;
        }
  }







 